<link rel="import" href="/components/bower_components/polymer/polymer.html">
<link rel="import" href="/components/bower_components/paper-slider/paper-slider.html">

<script src="dc.js"></script>

<script src="/libs/d3.min.js"></script>

<dom-module id="dc-chart">
  <template>
    <link rel="stylesheet" href="dc-chart.css">
    <p>
      This is <strong>{{source}}</strong> data of type "<span>{{data}}</span>".
      <div id="container"></div>
    </p>
    <div>
      Zoom:<paper-slider value="{{yZoom}}" max="100" editable role="slider" class="y-slider" tabindex="0" aria-valuemin="0" aria-valuemax="100" aria-valuenow="100"></paper-slider>
    </div>
    <div width="1000" height="500">
      <canvas id="chart" width="1000" height="500"  style="transform: translateZ(0)">
      </canvas>
    </div>

  </template>
</dom-module>

<script rel="import" src="dc-chart.js"></script>



