<link rel="import" href="/components/bower_components/polymer/polymer.html">
<link rel="import" href="/components/bower_components/paper-slider/paper-slider.html">

<script src="dc.js"></script>

<script src="/libs/d3.min.js"></script>
<script src="/libs/gl-matrix2-min.js"></script>

<dom-module id="dc-gl-chart">
  <template>
   
    <script id="fragment-shader" type="x-shader/x-fragment">
        
      void main(void) {
        gl_FragColor = vec4( 0.0, 1.0, 0.0, 0.5);
      }
    </script>
    <script id="vertex-shader" type="x-shader/x-vertex">
      attribute vec2 aVertexPosition;
    
      uniform mat4 uMVMatrix;
      uniform mat4 uPMatrix;
      
      void main(void) {
        gl_Position = uPMatrix * uMVMatrix * vec4(aVertexPosition, 1.0, 1.0);
      }
    </script>


    <link rel="stylesheet" href="dc-gl-chart.css">
    <p>
      This is <strong>{{source}}</strong> data of type "<span>{{data}}</span>".
      <div id="container"></div>
    </p>
    <div class="gl-view">
      <canvas class="gl-view" id="chart" width="1000" height="600"  style="transform: translateZ(0)">
      </canvas>
      <svg width="1000" height="300" class="sub-graph" id="map-svg">
      </svg>
      <div>
	<div id="zoom-chooser">Zoom Y:<input type="checkbox" id="zoom-y"></div>
	<svg width="1000" height="300" class="sub-graph" id="plot-svg">
	</svg>
      </div>
    </div>

  </template>
</dom-module>
<script src="/sylvester.js" type="text/javascript"></script>
<script src="/glUtils.js"   type="text/javascript"></script>

<script rel="import" src="dc-gl-chart.js"></script>



