
/*set the axis line color, dot stroke, font size, and font position*/
body {
  font: 15px sans-serif;
}

#chart {
    transform : translateZ(0);
    position  : absolute;
}

#zoom-chooser {
    position  : absolute;
    z-index    : 100;
    transform : translateZ(0);
    color     : white;
}

.sub-graph {
    transform : translateZ(0);
    display   : block;
    border    : 1px solid blue;
}

.gl-view {
    background-color : black ;
    overflow : hidden ;
    float : left;
    position  : relative;

}
