path {
  fill: none;
  stroke: green;
  stroke-linejoin: round;
  stroke-width: 1.5px;
}

#container {
    overflow : hidden;
    background-color : black ;
    overflow         : hidden ;
    float            : left;
    position         : relative;
    width            : 100%;
}

body {
  font: 15px sans-serif;
}

#chart {
    transform : translateZ(0);
    position  : absolute;
}

#zoom-chooser {
    position  : absolute;
    z-index    : 100;
    transform : translateZ(0);
    color     : white;
}

#plot1 {
    float : left;
}

#plot2 {
    stroke : white;
    fill   : white;
    float  : left;
}


.sub-graph {
    transform : translateZ(0);
    display   : block;
    border    : 1px solid blue;
}

#title {
   color : white;
}

#sat {
    transform : translateZ(0);
    overflow  : hidden;
}

.item {
   color         : white;
   float         : left;
   padding-left  : 0.5em;
   padding-right : 0.5em;
   list-style    : none;
   cursor        : pointer;
}

.item:hover {
    background : gold;
}

.selected {
    color : green ;
}