<!DOCTYPE html>
<html>
  <head>
    <!--<script src="/components/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script> -->
    <link rel="import" href="dc-chart.html">
    <link rel="import" href="dc-map.html">
  </head>
  <body>

    <dc-map source="um,all,good"
	      start="Sun Jun 07 2015 20:01:20 GMT-0700 (PDT)"
	      end="Wed Jun 10 2015 04:13:40 GMT-0700 (PDT)" >
    </dc-map>
    <dc-chart source="0906:bus1"
	      data="batt currents set" 
	      start="2014/06/01 00:00:00 GMT-0700" 
	      end="2015/06/01 00:00:00 GMT-0700">
    </dc-chart>
  </body>
</html>
