<!DOCTYPE html>
<html>
  <head>
    <script src="/components/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="dc-gl-chart.html">
  </head>
  <body>
    <dc-gl-chart source="0906:bus1"
	      data="batt currents set" 
	      start="2014/06/01 00:00:00 GMT-0700" 
	      end="2015/06/01 00:00:00 GMT-0700">
    </dc-gl-chart>
    <!--
    <dc-gl-chart source="0906:bus1"
	      data="batt currents set" 
	      start="2015/05/01 00:00:00 GMT-0700" 
	      end="2015/06/01 00:00:00 GMT-0700">
    </dc-gl-chart>
    -->

  </body>
</html>
