<!DOCTYPE html>
<html>
  <head>
    <!--<script src="/components/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script> -->
    <link rel="import" href="dc-chart.html">
  </head>
  <body>

    <dc-chart source="0906:bus1"
	      data="batt currents set" 
	      start="2014/06/01 00:00:00 GMT-0700" 
	      end="2015/06/01 00:00:00 GMT-0700">
    </dc-chart>

    <dc-chart source="0906:bus1"
	      data="batt currents set" 
	      start="2014/10/01 00:00:00 GMT-0700" 
	      end="2014/10/02 00:00:00 GMT-0700">
    </dc-chart>
  </body>
</html>
